.mainBlogCard {
  display: flex;
}

.mainBlogCard .numbering {
  font-size: 30px;
  color: lightgray;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
}

.mainBlogCard .cardpart {
  margin-left: 10px;
}

.mainBlogCard .publishedIn {
  font-weight: 700;
  font-size: 12px;
}

.mainBlogCard .publishedIn span span {
  font-weight: 400;
  margin: 0 3px;
}

.mainBlogCard h3 {
  font-weight: 700;
}

.mainBlogCard .date,.mainBlogCard .length {
  color:gray;
  font-size: 12px;
}

.mainBlogCard .dot {
  margin: 0 10px;
}